<!-- navbar-->
<header class="header">
  <!-- Primary Navbar-->
  <nav
    class="
      navbar navbar-expand-lg navbar-light
      py-4
      border-bottom border-gray
      bg-white
    "
  >
    <div class="container d-flex align-items-center justify-content-beween">
      <a class="navbar-brand" href="/">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="141.36"
          height="21.96"
          viewBox="0 0 141.36 21.96"
        >
          <g id="logo" transform="translate(-184.71 -47.52)">
            <path
              id="Path_10"
              data-name="Path 10"
              d="M26.91,0l-.06-21H21.03L14.37-9.81,7.53-21H1.71V0H8.16V-9.24l4.56,7.35h3.12L20.4-9.57,20.46,0ZM37.29-5.34V-8.1h8.88v-5.1H37.29v-2.46H47.4V-21H30.33V0H47.79V-5.34ZM50.52,0H60.87c7.02,0,11.85-3.99,11.85-10.5S67.89-21,60.87-21H50.52ZM57.6-5.52v-9.96h2.97a4.625,4.625,0,0,1,5.01,4.98,4.625,4.625,0,0,1-5.01,4.98ZM75.3,0h7.08V-21H75.3ZM96.66.48c4.11,0,7.35-1.5,9.42-4.2l-4.47-3.99a5.673,5.673,0,0,1-4.59,2.46c-2.94,0-4.92-2.04-4.92-5.25s1.98-5.25,4.92-5.25a5.673,5.673,0,0,1,4.59,2.46l4.47-3.99c-2.07-2.7-5.31-4.2-9.42-4.2-6.75,0-11.7,4.53-11.7,10.98S89.91.48,96.66.48Z"
              transform="translate(183 69)"
              fill="#1a1a1a"
            />
            <path
              id="Path_11"
              data-name="Path 11"
              d="M1.71,0H8.79V-21H1.71ZM23.22.48c6.84,0,11.85-4.62,11.85-10.98S30.06-21.48,23.22-21.48,11.37-16.86,11.37-10.5,16.38.48,23.22.48Zm0-5.73c-2.61,0-4.71-1.98-4.71-5.25s2.1-5.25,4.71-5.25,4.71,1.98,4.71,5.25S25.83-5.25,23.22-5.25Z"
              transform="translate(291 69)"
              fill="#323584"
            />
          </g>
        </svg>
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <ul class="list-inline mb-0 d-none d-lg-block">
        <li class="list-inline-item mr-3">
          <div class="d-flex">
            <i class="far fa-clock h4 text-muted"></i>
            <div class="ml-2">
              <h6 class="text-muted text-uppercase mb-0 text-small">
                Mon - Fri: 08:00AM - 20:00PM
              </h6>
              <p class="small text-gray mb-0">Saturday and Sunday - CLOSED</p>
            </div>
          </div>
        </li>
        <li class="list-inline-item">
          <div class="d-flex">
            <i class="fas fa-headphones-alt h4 text-muted"></i>
            <div class="ml-2">
              <h6 class="text-muted text-uppercase mb-0 text-small">
                +234 810 830 5239
              </h6>
              <p class="small text-gray mb-0">Contact Us For Help</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <!-- Secondary Navbar                -->
  <nav class="navbar navbar-expand-lg navbar-light py-0 shadow-sm bg-white">
    <div class="container">
      <div
        class="collapse navbar-collapse py-3 py-lg-0"
        id="navbarSupportedContent"
      >
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link pl-lg-0" href="/"
              >Home <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/patients/signup">Patient Regitration</a>
          </li>
          <!-- <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              id="navbarDropdown"
              href="#"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              >Dropdown</a
            >
            <div
              class="dropdown-menu border-0 shadow-sm"
              aria-labelledby="navbarDropdown"
            >
              <a class="dropdown-item text-muted" href="#">Action</a
              ><a class="dropdown-item text-muted" href="#">Another action</a
              ><a class="dropdown-item text-muted" href="#"
                >Something else here</a
              >
            </div>
          </li> -->
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link px-4 d-inline-block" id="searchToggler" href="#"
              ><i class="fas fa-search text-muted"></i
              ><i class="fas fa-times text-muted d-none"></i
            ></a>
          </li>
          <li class="nav-item">
            <a
              class="
                nav-link
                border-left
                px-4
                bg-primary
                text-white
                d-inline-block
              "
              href="/patients/signin"
              >Make an Appointment</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="p-3 shadow-sm index-forward border-top" id="search">
    <div class="container">
      <form action="#">
        <div class="row">
          <div class="form-group col-sm-8 mb-0 mb-2 mb-sm-0">
            <input
              class="form-control"
              type="search"
              placeholder="What're you looking for..."
            />
          </div>
        </div>
      </form>
    </div>
  </div>
</header>
<!-- Hero Banner-->
