<!-- navbar-->
<header class="header">
  <!-- Primary Navbar-->
  <nav
    class="
      navbar navbar-expand-lg navbar-light
      py-4
      border-bottom border-gray
      bg-white
    "
  >
    <div class="container d-flex align-items-center justify-content-beween">
      <a class="navbar-brand" href="/">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="141.36"
          height="21.96"
          viewBox="0 0 141.36 21.96"
        >
          <text x="0" y="22" fill="#1a1a1a" font-weight="900" font-size="29">
            ANOINTED
          </text>
        </svg>
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <ul class="list-inline mb-0 d-none d-lg-block">
        <li class="list-inline-item mr-3">
          <div class="d-flex">
            <i class="far fa-clock h4 text-muted"></i>
            <div class="ml-2">
              <h6 class="text-muted text-uppercase mb-0 text-small">
                Mon - Fri: 08:00AM - 17:00PM
              </h6>
              <p class="small text-gray mb-0">Saturday and Sunday - CLOSED</p>
            </div>
          </div>
        </li>
        <li class="list-inline-item">
          <div class="d-flex">
            <i class="fas fa-headphones-alt h4 text-muted"></i>
            <div class="ml-2">
              <h6 class="text-muted text-uppercase mb-0 text-small">
                +234 803 300 2278
              </h6>
              <p class="small text-gray mb-0">Contact Us For Help</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <!-- Secondary Navbar                -->
  <nav class="navbar navbar-expand-lg navbar-light py-0 shadow-sm bg-white">
    <div class="container">
      <div
        class="collapse navbar-collapse py-3 py-lg-0"
        id="navbarSupportedContent"
      >
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link pl-lg-0" href="/"
              >Home <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <!-- <a class="nav-link" href="/about">About </a> -->
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/patients/signup">Student Regitration</a>
          </li>
          <!-- <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              id="navbarDropdown"
              href="#"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              >Dropdown</a
            >
            <div
              class="dropdown-menu border-0 shadow-sm"
              aria-labelledby="navbarDropdown"
            >
              <a class="dropdown-item text-muted" href="#">Action</a
              ><a class="dropdown-item text-muted" href="#">Another action</a
              ><a class="dropdown-item text-muted" href="#"
                >Something else here</a
              >
            </div>
          </li> -->
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link px-4 d-inline-block" id="searchToggler" href="#"
              ><i class="fas fa-search text-muted"></i
              ><i class="fas fa-times text-muted d-none"></i
            ></a>
          </li>
          <li class="nav-item">
            <a
              class="
                nav-link
                border-left
                px-4
                bg-primary
                text-white
                d-inline-block
              "
              href="/patients/signin"
              >Contact a Sickbay Director</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="p-3 shadow-sm index-forward border-top" id="search">
    <div class="container">
      <form action="#">
        <div class="row">
          <div class="form-group col-sm-8 mb-0 mb-2 mb-sm-0">
            <input
              class="form-control"
              type="search"
              placeholder="What're you looking for..."
            />
          </div>
        </div>
      </form>
    </div>
  </div>
</header>
<!-- Hero Banner-->
