<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Anointed Communications College | Osogbo</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="all,follow" />
    <!-- Bootstrap CSS-->
    <link
      rel="stylesheet"
      href="../../static/main/static/vendor/bootstrap/css/bootstrap.min.css"
    />
    <!-- Google fonts-->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Montserrat:700,800&amp;display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Poppins:300,400&amp;display=swap"
    />
    <!-- theme stylesheet-->
    <link
      rel="stylesheet"
      href="../../static/main/static/css/style.default.css"
      id="theme-stylesheet"
    />
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="../../static/main/static/css/custom.css" />
    <!-- Favicon-->
    <link
      rel="shortcut icon"
      href="../../static/patients/static/favicons/favicon.png"
    />
    <!-- Tweaks for older IEs-->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script
    ><![endif]-->
  </head>
  <body>
    <!-- navbar-->
    {% include 'main/header.html' %}
    <!-- Hero Banner-->
    <section
      class="hero-home bg-cover bg-center"
      style="background: url(../../static/main/static/img/home-banner.jpg)"
    >
      <div class="container index-forward py-5 mb-5">
        <div class="row text-white">
          <div class="col-lg-8">
            <h1 class="text-uppercase mb-0 text-shadow">
              Anointed Communications College, Osogbo
            </h1>
            <p class="h5 my-4 text-shadow">
              Providing best quality healthcare for our students
            </p>
            <p>
              We understand that health is wealth and this is why we are taking
              advantage of technology to help push forward, the healthcare
              system of our school.
            </p>
            <a class="btn btn-light text-primary px-5" href="/patients/signup"
              >Continue as a Student</a
            >
          </div>
        </div>
      </div>
    </section>
    <!-- Info Section-->
    <section class="info p-0 bg-light">
      <div class="container bg-white">
        <div class="row py-5 border-top border-md border-primary">
          <div class="col-lg-4 border-right mb-4 mb-lg-0">
            <div class="px-4">
              <p class="text-primary mb-0 font-weight-normal">
                Qualified Sickbay Directors
              </p>
              <h3 class="h5">Where students come first</h3>
              <!-- <p class="text-muted mb-0 text-small">
                Lorem ipsum dolor sit amet, conse. Proin gravida nibh vel velit
                auctor aliquet. Aenean sollique ancitudi.
              </p> -->
            </div>
          </div>
          <div class="col-lg-4 border-right mb-4 mb-lg-0">
            <div class="px-4">
              <p class="text-primary mb-0 font-weight-normal">
                School hour service
              </p>
              <h3 class="h5">Highest Quality Ever</h3>
              <!-- <p class="text-muted mb-0 text-small">
                Lorem ipsum dolor sit amet, conse. Proin gravida nibh vel velit
                auctor aliquet. Aenean sollique ancitudi.
              </p> -->
            </div>
          </div>
          <div class="col-lg-4">
            <div class="px-4">
              <p class="text-primary mb-0 font-weight-normal">
                We are here for you
              </p>
              <h3 class="h5">Emergency Department</h3>
              <!-- <p class="text-muted mb-0 text-small">
                Lorem ipsum dolor sit amet, conse. Proin gravida nibh vel velit
                auctor aliquet. Aenean sollique ancitudi.
              </p> -->
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- About Section-->
    <section class="about bg-light pt-0">
      <div class="container text-center">
        <h2 class="text-uppercase lined lined-center">
          Welcome to
          <span class="text-primary">Anointed Communications College </span
          >Clinic
        </h2>
        <p class="text-muted">
          See a student not feeling too well? Don't fret, just contact the
          clinic
        </p>
        <div class="row pt-5">
          <div class="col-lg-4 mb-5 mb-lg-0">
            <i class="fas fa-stethoscope fa-3x text-primary mb-3"></i>
            <h2 class="h5">HealthCare Professionals</h2>
            <!-- <p class="text-muted px-lg-3 mb-0">
              Lorem ipsum dolor sit amet, conse. Proin gravida nibh vel velit
              auctor aliquet. Aenean.
            </p> -->
          </div>
          <div class="col-lg-4 mb-5 mb-lg-0">
            <i class="fas fa-microscope fa-3x text-primary mb-3"></i>
            <h2 class="h5">Medical Excellence</h2>
            <!-- <p class="text-muted px-lg-3 mb-0">
              Lorem ipsum dolor sit amet, conse. Proin gravida nibh vel velit
              auctor aliquet. Aenean.
            </p> -->
          </div>
          <div class="col-lg-4">
            <i class="fas fa-syringe fa-3x text-primary mb-3"></i>
            <h2 class="h5">Latest Technologies</h2>
            <!-- <p class="text-muted px-lg-3 mb-0">
              Lorem ipsum dolor sit amet, conse. Proin gravida nibh vel velit
              auctor aliquet. Aenean.
            </p> -->
          </div>
        </div>
      </div>
    </section>
    <!-- Statistics Section-->
    <section class="statistics py-5 bg-primary">
      <div class="container text-white">
        <div class="row">
          <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
            <div
              class="
                d-flex
                align-items-center
                justify-content-center justify-content-md-start
              "
            >
              <h2 class="text-lg mr-3 mb-0">10+</h2>
              <p class="lead line-height-sm mb-0">years of <br />experience</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
            <div
              class="
                d-flex
                align-items-center
                justify-content-center justify-content-md-start
              "
            >
              <!-- <h2 class="text-lg mr-3 mb-0">79</h2>
              <p class="lead line-height-sm mb-0">visited <br />conferences</p> -->
            </div>
          </div>
          <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
            <div
              class="
                d-flex
                align-items-center
                justify-content-center justify-content-md-start
              "
            >
              <h2 class="text-lg mr-3 mb-0">50+</h2>
              <p class="lead line-height-sm mb-0">healthy <br />students</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div
              class="
                d-flex
                align-items-center
                justify-content-center justify-content-md-start
              "
            >
              <!-- <h2 class="text-lg mr-3 mb-0">14</h2>
              <p class="lead line-height-sm mb-0">
                master <br />certifications
              </p> -->
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Contact Section-->
    <section class="contact py-5 bg-white text-primary">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 mb-5 mb-lg-0">
            <div class="d-flex align-items-center">
              <div class="contact-icon"><i class="fas fa-phone"></i></div>
              <div class="ml-3">
                <h3 class="h5 mb-0">+234 803 300 2278</h3>
                <p class="small mb-0">Have a question? call us now</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 mb-5 mb-lg-0">
            <div class="d-flex align-items-center">
              <div class="contact-icon"><i class="far fa-envelope"></i></div>
              <div class="ml-3">
                <h3 class="h5 mb-0">anointed@gmail.com</h3>
                <p class="small mb-0">Need support? Drop us an email</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="d-flex align-items-center">
              <div class="contact-icon"><i class="far fa-clock"></i></div>
              <div class="ml-3">
                <h3 class="h5 mb-0">Mon – Fri 08:00 – 17:00</h3>
                <p class="small mb-0">We are open On</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    {% include 'main/footer.html' %}
    <!-- JavaScript files-->
    <script src="../../static/main/static/vendor/jquery/jquery.min.js"></script>
    <script src="../../static/main/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../../static/main/static/js/front.js"></script>
    <!-- FontAwesome CSS - loading as last, so it doesn't block rendering-->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous"
    />
  </body>
</html>
