<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Medicio | Bootstrap Medical Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css">
    <!-- Google fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:700,800&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400&amp;display=swap">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="css/style.default.css" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="css/custom.css">
    <!-- Favicon-->
    <link rel="shortcut icon" href="img/favicon.ico">
    <!-- Tweaks for older IEs--><!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
  </head>
  <body>
    <!-- navbar-->
    <header class="header">
      <!-- Primary Navbar-->
      <nav class="navbar navbar-expand-lg navbar-light py-4 border-bottom border-gray bg-white">
        <div class="container d-flex align-items-center justify-content-beween"><a class="navbar-brand" href="#"><img src="img/logo.svg" alt="" width="170"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <ul class="list-inline mb-0 d-none d-lg-block">
            <li class="list-inline-item mr-3">
              <div class="d-flex"><i class="far fa-clock h4 text-muted"></i>
                <div class="ml-2">
                  <h6 class="text-muted text-uppercase mb-0 text-small">Mon - Fri: 08:00AM - 20:00PM  </h6>
                  <p class="small text-gray mb-0">Saturday and Sunday - CLOSED</p>
                </div>
              </div>
            </li>
            <li class="list-inline-item">
              <div class="d-flex"><i class="fas fa-headphones-alt h4 text-muted"></i>
                <div class="ml-2">
                  <h6 class="text-muted text-uppercase mb-0 text-small">+ 0800 2466 7921</h6>
                  <p class="small text-gray mb-0">Contact Us For Help</p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </nav>
      <!-- Secondary Navbar                -->
      <nav class="navbar navbar-expand-lg navbar-light py-0 shadow-sm bg-white">
        <div class="container">
          <div class="collapse navbar-collapse py-3 py-lg-0" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active"><a class="nav-link pl-lg-0" href="index.html">Home <span class="sr-only">(current)</span></a></li>
              <li class="nav-item"><a class="nav-link" href="about.html">About </a></li>
              <li class="nav-item"><a class="nav-link" href="contact.html">Contact </a></li>
              <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                <div class="dropdown-menu border-0 shadow-sm" aria-labelledby="navbarDropdown"><a class="dropdown-item text-muted" href="#">Action</a><a class="dropdown-item text-muted" href="#">Another action</a><a class="dropdown-item text-muted" href="#">Something else here</a></div>
              </li>
            </ul>
            <ul class="navbar-nav ml-auto">
              <li class="nav-item"><a class="nav-link px-4 d-inline-block" id="searchToggler" href="#"><i class="fas fa-search text-muted"></i><i class="fas fa-times text-muted d-none"></i></a></li>
              <li class="nav-item"><a class="nav-link border-left px-4 bg-primary text-white d-inline-block" href="contact.html">Make an Appointment</a></li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="p-3 shadow-sm index-forward border-top" id="search">
        <div class="container">
          <form action="#">
            <div class="row">
              <div class="form-group col-sm-8 mb-0 mb-2 mb-sm-0">
                <input class="form-control" type="search" placeholder="What're you looking for...">
              </div>
              <div class="form-group col-sm-4 text-center text-sm-left mb-0">
                <button class="btn btn-primary" type="submit"> <i class="fas fa-search mr-2"></i>Search</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </header>
    <!-- Hero Banner-->
    <section class="hero bg-cover bg-top" style="background: url(img/about-banner.jpg)">
      <div class="container index-forward">
        <div class="row align-items-lg-center">
          <div class="col-lg-7 order-2 order-lg-1">
            <h1 class="text-uppercase text-white">About <span class="text-primary">Us</span></h1>
            <p class="lead text-white mb-0">Provide best quality healthcare for youv</p>
          </div>
          <div class="col-lg-5 order-1 order-lg-2 text-lg-right">
            <!-- Breadcrumb-->
            <nav class="d-inline-block" aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html"> <i class="fa fa-home mr-2"></i>Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">About us</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </section>
    <!-- About Section-->
    <section class="about">
      <div class="container">   
        <div class="row">
          <div class="col-lg-4 mb-5 mb-lg-0">
            <div class="p-2 shadow"><img class="img-fluid" src="img/about.jpg" alt=""></div>
          </div>
          <div class="col-lg-8">
            <p class="text-muted h6 text-primary text-uppercase mb-0">What we do</p>
            <h2 class="my-3">A Great Place to Work. A Great Place to Receive Care. Leading Medicine.</h2>
            <p class="text-muted lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
            <h2 class="h5">Medicenter Immediate Care</h2>
            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
            <div class="p-2 bg-primary">
              <div class="border border-white border-md p-lg-5 p-4 d-flex align-items-center"><i class="fas fa-hospital fa-3x text-white"></i>
                <div class="pl-3">
                  <h4 class="text-white mb-1">Care and Relief</h4>
                  <p class="text-white mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Service Section-->
    <section class="services bg-light">
      <div class="container text-center">
        <h2 class="text-uppercase lined lined-center">Our  <span class="text-primary">Services</span></h2>
        <p class="text-muted mb-5">Lorem ipsum dolor sit amet, consectetuer. Proin gravida nibh vel velit auctor aliquetenean.</p>
        <div class="row">
              <!-- Services Item-->
              <div class="col-xl-4 col-md-6 mb-4">
                <div class="card services-item border-0">
                  <div class="card-body border-top border-md border-primary py-5 px-4 shadow-sm">
                    <h2 class="h6 mb-0 services-item-heading">Qualified Facilities</h2>
                    <div class="services-icon my-4"><i class="fas fa-procedures fa-2x"></i></div>
                    <p class="services-item-text text-small mb-0">Consider may dwelling old him her surprise finished families graceful. Gave led past poor met fine was new.</p>
                  </div>
                </div>
              </div>
              <!-- Services Item-->
              <div class="col-xl-4 col-md-6 mb-4">
                <div class="card services-item border-0">
                  <div class="card-body border-top border-md border-primary py-5 px-4 shadow-sm">
                    <h2 class="h6 mb-0 services-item-heading">Top Level Doctors</h2>
                    <div class="services-icon my-4"><i class="fas fa-user-md fa-2x"></i></div>
                    <p class="services-item-text text-small mb-0">Consider may dwelling old him her surprise finished families graceful. Gave led past poor met fine was new.</p>
                  </div>
                </div>
              </div>
              <!-- Services Item-->
              <div class="col-xl-4 col-md-6 mb-4">
                <div class="card services-item border-0">
                  <div class="card-body border-top border-md border-primary py-5 px-4 shadow-sm">
                    <h2 class="h6 mb-0 services-item-heading">Dedicated Patient Care</h2>
                    <div class="services-icon my-4"><i class="fas fa-notes-medical fa-2x"></i></div>
                    <p class="services-item-text text-small mb-0">Consider may dwelling old him her surprise finished families graceful. Gave led past poor met fine was new.</p>
                  </div>
                </div>
              </div>
              <!-- Services Item-->
              <div class="col-xl-4 col-md-6 mb-4">
                <div class="card services-item border-0">
                  <div class="card-body border-top border-md border-primary py-5 px-4 shadow-sm">
                    <h2 class="h6 mb-0 services-item-heading">24/7 Emergency</h2>
                    <div class="services-icon my-4"><i class="fas fa-ambulance fa-2x"></i></div>
                    <p class="services-item-text text-small mb-0">Consider may dwelling old him her surprise finished families graceful. Gave led past poor met fine was new.</p>
                  </div>
                </div>
              </div>
              <!-- Services Item-->
              <div class="col-xl-4 col-md-6 mb-4">
                <div class="card services-item border-0">
                  <div class="card-body border-top border-md border-primary py-5 px-4 shadow-sm">
                    <h2 class="h6 mb-0 services-item-heading">Qualified Facilities</h2>
                    <div class="services-icon my-4"><i class="fas fa-procedures fa-2x"></i></div>
                    <p class="services-item-text text-small mb-0">Consider may dwelling old him her surprise finished families graceful. Gave led past poor met fine was new.</p>
                  </div>
                </div>
              </div>
              <!-- Services Item-->
              <div class="col-xl-4 col-md-6 mb-4">
                <div class="card services-item border-0">
                  <div class="card-body border-top border-md border-primary py-5 px-4 shadow-sm">
                    <h2 class="h6 mb-0 services-item-heading">Top Level Doctors</h2>
                    <div class="services-icon my-4"><i class="fas fa-user-md fa-2x"></i></div>
                    <p class="services-item-text text-small mb-0">Consider may dwelling old him her surprise finished families graceful. Gave led past poor met fine was new.</p>
                  </div>
                </div>
              </div>
        </div>
      </div>
    </section>
    <!-- Statistics Section-->
    <section class="statistics py-5 bg-primary">
      <div class="container text-white">
        <div class="row">
          <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
            <div class="d-flex align-items-center justify-content-center justify-content-md-start">
              <h2 class="text-lg mr-3 mb-0">15</h2>
              <p class="lead line-height-sm mb-0">years of <br>experience </p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
            <div class="d-flex align-items-center justify-content-center justify-content-md-start">
              <h2 class="text-lg mr-3 mb-0">79</h2>
              <p class="lead line-height-sm mb-0">visited <br>conferences </p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
            <div class="d-flex align-items-center justify-content-center justify-content-md-start">
              <h2 class="text-lg mr-3 mb-0">452</h2>
              <p class="lead line-height-sm mb-0">smiling <br>clients </p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="d-flex align-items-center justify-content-center justify-content-md-start">
              <h2 class="text-lg mr-3 mb-0">14</h2>
              <p class="lead line-height-sm mb-0">master <br>certifications </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Doctors Section-->
    <section class="doctors bg-light">
      <div class="container text-center">
        <h2 class="text-uppercase lined lined-center">Our  <span class="text-primary">Doctors</span></h2>
        <p class="text-muted mb-5">Lorem ipsum dolor sit amet, consectetuer. Proin gravida nibh vel velit auctor aliquetenean.</p>
        <div class="row">
              <!-- Doctor-->
              <div class="col-xl-3 col-md-6 mb-4 mb-xl-0">
                <div class="card doctor border-0">
                  <div class="card-body p-0 shadow-sm">
                    <div class="position-relative"><img class="img-fluid border-top border-md border-primary" src="img/doctor-1.png" alt="">
                      <div class="doctor-overlay">   
                        <ul class="list-inline mb-0 doctor-social">
                          <li class="list-inline-item"><a class="doctor-social-link" href="#"><i class="fab fa-facebook-f"></i></a></li>
                          <li class="list-inline-item"><a class="doctor-social-link" href="#"><i class="fab fa-twitter"></i></a></li>
                          <li class="list-inline-item"><a class="doctor-social-link" href="#"><i class="fab fa-instagram"></i></a></li>
                          <li class="list-inline-item"><a class="doctor-social-link" href="#"><i class="fab fa-youtube"></i></a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="p-4">
                      <h6 class="mb-0">Dr Patricia Butron</h6>
                      <p class="text-muted text-small mb-0">Senior Dr. at Delmont</p>
                    </div><a class="btn btn-block btn-primary" href="#">Make appointmet</a>
                  </div>
                </div>
              </div>
              <!-- Doctor-->
              <div class="col-xl-3 col-md-6 mb-4 mb-xl-0">
                <div class="card doctor border-0">
                  <div class="card-body p-0 shadow-sm">
                    <div class="position-relative"><img class="img-fluid border-top border-md border-primary" src="img/doctor-2.png" alt="">
                      <div class="doctor-overlay">   
                        <ul class="list-inline mb-0 doctor-social">
                          <li class="list-inline-item"><a class="doctor-social-link" href="#"><i class="fab fa-facebook-f"></i></a></li>
                          <li class="list-inline-item"><a class="doctor-social-link" href="#"><i class="fab fa-twitter"></i></a></li>
                          <li class="list-inline-item"><a class="doctor-social-link" href="#"><i class="fab fa-instagram"></i></a></li>
                          <li class="list-inline-item"><a class="doctor-social-link" href="#"><i class="fab fa-youtube"></i></a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="p-4">
                      <h6 class="mb-0">Dr John Abraham</h6>
                      <p class="text-muted text-small mb-0">Cardiologist Specialist</p>
                    </div><a class="btn btn-block btn-primary" href="#">Make appointmet</a>
                  </div>
                </div>
              </div>
              <!-- Doctor-->
              <div class="col-xl-3 col-md-6 mb-4 mb-xl-0">
                <div class="card doctor border-0">
                  <div class="card-body p-0 shadow-sm">
                    <div class="position-relative"><img class="img-fluid border-top border-md border-primary" src="img/doctor-3.png" alt="">
                      <div class="doctor-overlay">   
                        <ul class="list-inline mb-0 doctor-social">
                          <li class="list-inline-item"><a class="doctor-social-link" href="#"><i class="fab fa-facebook-f"></i></a></li>
                          <li class="list-inline-item"><a class="doctor-social-link" href="#"><i class="fab fa-twitter"></i></a></li>
                          <li class="list-inline-item"><a class="doctor-social-link" href="#"><i class="fab fa-instagram"></i></a></li>
                          <li class="list-inline-item"><a class="doctor-social-link" href="#"><i class="fab fa-youtube"></i></a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="p-4">
                      <h6 class="mb-0">Dr Addison Smith</h6>
                      <p class="text-muted text-small mb-0">Neurology Specialist</p>
                    </div><a class="btn btn-block btn-primary" href="#">Make appointmet</a>
                  </div>
                </div>
              </div>
              <!-- Doctor-->
              <div class="col-xl-3 col-md-6 mb-4 mb-xl-0">
                <div class="card doctor border-0">
                  <div class="card-body p-0 shadow-sm">
                    <div class="position-relative"><img class="img-fluid border-top border-md border-primary" src="img/doctor-4.png" alt="">
                      <div class="doctor-overlay">   
                        <ul class="list-inline mb-0 doctor-social">
                          <li class="list-inline-item"><a class="doctor-social-link" href="#"><i class="fab fa-facebook-f"></i></a></li>
                          <li class="list-inline-item"><a class="doctor-social-link" href="#"><i class="fab fa-twitter"></i></a></li>
                          <li class="list-inline-item"><a class="doctor-social-link" href="#"><i class="fab fa-instagram"></i></a></li>
                          <li class="list-inline-item"><a class="doctor-social-link" href="#"><i class="fab fa-youtube"></i></a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="p-4">
                      <h6 class="mb-0">Dr Aiken Ward</h6>
                      <p class="text-muted text-small mb-0">Senior Рathologist</p>
                    </div><a class="btn btn-block btn-primary" href="#">Make appointmet</a>
                  </div>
                </div>
              </div>
        </div>
      </div>
    </section>
    <!-- Contact Section-->
    <section class="contact py-5 bg-primary text-white">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 mb-5 mb-lg-0">
            <div class="d-flex align-items-center">
              <div class="contact-icon"><i class="fas fa-phone"></i></div>
              <div class="ml-3">       
                <h3 class="h5 mb-0">0800 2466 7921</h3>
                <p class="small mb-0">Have a question? call us now</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 mb-5 mb-lg-0">
            <div class="d-flex align-items-center">
              <div class="contact-icon"><i class="far fa-envelope"></i></div>
              <div class="ml-3">       
                <h3 class="h5 mb-0">info@domain.com</h3>
                <p class="small mb-0">Need support? Drop us an email</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="d-flex align-items-center">
              <div class="contact-icon"><i class="far fa-clock"></i></div>
              <div class="ml-3">       
                <h3 class="h5 mb-0">Mon – Fri 07:00 – 21:00</h3>
                <p class="small mb-0">We are open On</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 mb-4 mb-lg-0">
            <h2 class="h5 lined text-white mb-4">About</h2>
            <p class="text-muted text-small">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
            <p class="text-muted text-small">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.</p>
            <ul class="list-inline mb-0">
              <li class="list-inline-item"><a class="social-link" href="#"><i class="fab fa-facebook-f"></i></a></li>
              <li class="list-inline-item"><a class="social-link" href="#"><i class="fab fa-twitter"></i></a></li>
              <li class="list-inline-item"><a class="social-link" href="#"><i class="fab fa-google-plus"></i></a></li>
              <li class="list-inline-item"><a class="social-link" href="#"><i class="fab fa-instagram"></i></a></li>
            </ul>
          </div>
          <div class="col-lg-5 mb-4 mb-lg-0">
            <h2 class="h5 text-white lined mb-4">Quick Links</h2>
            <div class="d-flex">
              <ul class="list-unstyled d-inline-block mr-4 mb-0">
                <li class="mb-2"><a class="footer-link" href="#">Make appointments </a></li>
                <li class="mb-2"><a class="footer-link" href="#">Doctors team</a></li>
                <li class="mb-2"><a class="footer-link" href="#">Departments services</a></li>
                <li class="mb-2"><a class="footer-link" href="#">About our clinic</a></li>
                <li class="mb-2"><a class="footer-link" href="#">Contact us</a></li>
              </ul>
              <ul class="list-unstyled d-inline-block mb-0">
                <li class="mb-2"><a class="footer-link" href="index.html">Home </a></li>
                <li class="mb-2"><a class="footer-link" href="about.html">About us</a></li>
                <li class="mb-2"><a class="footer-link" href="contact.html">Contact us</a></li>
                <li class="mb-2"><a class="footer-link" href="#">About our clinic</a></li>
                <li class="mb-2"><a class="footer-link" href="#">Contact us</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-4">
            <h2 class="h5 text-white lined mb-4">Newsletter</h2>
            <p class="text-muted text-small">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.</p>
            <div class="input-group mb-3">
              <input class="form-control text-muted bg-none border-primary" type="text" placeholder="Email address" aria-label="Recipient's username" aria-describedby="button-addon2">
              <div class="input-group-append">
                <button class="btn btn-primary" id="button-addon2" type="button"><i class="fas fa-paper-plane"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="copyrights">       
        <div class="container text-center py-4">
          <p class="mb-0 text-muted">&copy; 2019, Your company. Template designed by <a href="https://bootstraptemple.com">Bootstrap Temple</a>.</p>
        </div>
      </div>
    </footer>
    <!-- JavaScript files-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="js/front.js"></script>
    <!-- FontAwesome CSS - loading as last, so it doesn't block rendering-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  </body>
</html>