<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Anointed Communications College | Bootstrap Medical Template</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="all,follow" />
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css" />
    <!-- Google fonts-->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Montserrat:700,800&amp;display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Poppins:300,400&amp;display=swap"
    />
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="css/style.default.css" id="theme-stylesheet" />
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="css/custom.css" />
    <!-- Favicon-->
    <link rel="shortcut icon" href="img/favicon.ico" />
    <!-- Tweaks for older IEs-->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script
    ><![endif]-->
  </head>
  <body>
    <!-- navbar-->
    <header class="header">
      <!-- Primary Navbar-->
      <nav
        class="
          navbar navbar-expand-lg navbar-light
          py-4
          border-bottom border-gray
          bg-white
        "
      >
        <div class="container d-flex align-items-center justify-content-beween">
          <a class="navbar-brand" href="#"
            ><img src="img/logo.svg" alt="" width="170"
          /></a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <ul class="list-inline mb-0 d-none d-lg-block">
            <li class="list-inline-item mr-3">
              <div class="d-flex">
                <i class="far fa-clock h4 text-muted"></i>
                <div class="ml-2">
                  <h6 class="text-muted text-uppercase mb-0 text-small">
                    Mon - Fri: 08:00AM - 20:00PM
                  </h6>
                  <p class="small text-gray mb-0">
                    Saturday and Sunday - CLOSED
                  </p>
                </div>
              </div>
            </li>
            <li class="list-inline-item">
              <div class="d-flex">
                <i class="fas fa-headphones-alt h4 text-muted"></i>
                <div class="ml-2">
                  <h6 class="text-muted text-uppercase mb-0 text-small">
                    + 0800 2466 7921
                  </h6>
                  <p class="small text-gray mb-0">Contact Us For Help</p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </nav>
      <!-- Secondary Navbar                -->
      <nav class="navbar navbar-expand-lg navbar-light py-0 shadow-sm bg-white">
        <div class="container">
          <div
            class="collapse navbar-collapse py-3 py-lg-0"
            id="navbarSupportedContent"
          >
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link pl-lg-0" href="index.html"
                  >Home <span class="sr-only">(current)</span></a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="about.html">About </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="contact.html">Contact </a>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  id="navbarDropdown"
                  href="#"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                  >Dropdown</a
                >
                <div
                  class="dropdown-menu border-0 shadow-sm"
                  aria-labelledby="navbarDropdown"
                >
                  <a class="dropdown-item text-muted" href="#">Action</a
                  ><a class="dropdown-item text-muted" href="#"
                    >Another action</a
                  ><a class="dropdown-item text-muted" href="#"
                    >Something else here</a
                  >
                </div>
              </li>
            </ul>
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a
                  class="nav-link px-4 d-inline-block"
                  id="searchToggler"
                  href="#"
                  ><i class="fas fa-search text-muted"></i
                  ><i class="fas fa-times text-muted d-none"></i
                ></a>
              </li>
              <li class="nav-item">
                <a
                  class="
                    nav-link
                    border-left
                    px-4
                    bg-primary
                    text-white
                    d-inline-block
                  "
                  href="contact.html"
                  >Make an Appointment</a
                >
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="p-3 shadow-sm index-forward border-top" id="search">
        <div class="container">
          <form action="#">
            <div class="row">
              <div class="form-group col-sm-8 mb-0 mb-2 mb-sm-0">
                <input
                  class="form-control"
                  type="search"
                  placeholder="What're you looking for..."
                />
              </div>
              <div class="form-group col-sm-4 text-center text-sm-left mb-0">
                <button class="btn btn-primary" type="submit">
                  <i class="fas fa-search mr-2"></i>Search
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </header>
    <!-- Hero Banner-->
    <section
      class="hero bg-cover bg-top"
      style="background: url(img/contact-banner.jpg)"
    >
      <div class="container index-forward">
        <div class="row align-items-lg-center">
          <div class="col-lg-7 order-2 order-lg-1">
            <h1 class="text-uppercase text-white">
              Contact <span class="text-primary">Us</span>
            </h1>
            <p class="lead text-white mb-0">
              Provide best quality healthcare for youv
            </p>
          </div>
          <div class="col-lg-5 order-1 order-lg-2 text-lg-right">
            <!-- Breadcrumb-->
            <nav class="d-inline-block" aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="index.html"> <i class="fa fa-home mr-2"></i>Home</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                  Contact us
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </section>
    <section class="p-0">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 text-center">
            <div class="p-5 my-lg-5">
              <i class="fas fa-map-marked-alt fa-3x text-primary mb-4"></i>
              <h3 class="h5 text-uppercase mb-4">Location</h3>
              <p class="text-muted">
                22 Baker Street,London, United Kingdom, W1U 3BW
              </p>
            </div>
          </div>
          <div class="col-lg-4 text-center bg-primary text-white">
            <div class="p-5 my-lg-5">
              <i class="fas fa-first-aid fa-3x mb-4"></i>
              <h3 class="h5 text-uppercase mb-4">Emergency Case</h3>
              <p class="h6">+0800 2466 7921</p>
            </div>
          </div>
          <div class="col-lg-4 text-center">
            <div class="p-5 my-lg-5">
              <i class="fas fa-envelope fa-3x text-primary mb-4"></i>
              <h3 class="h5 text-uppercase mb-4">Email</h3>
              <p>info@yourdomain.com</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Make Appointment Section-->
    <section class="appointment bg-light">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-7 mb-5 mb-lg-0">
            <div class="card border-0 shadow-sm">
              <div class="card-body p-5 border-top border-primary border-md">
                <h2 class="lined">
                  Make an <span class="text-primary">Appointment</span>
                </h2>
                <p class="text-muted">
                  Nulla tristique ipsum in quam. Integer ac elit. Duis turpis
                  faucibus non
                </p>
                <form class="make-appointment-form" action="#">
                  <div class="row">
                    <div class="form-group col-lg-6 mb-4">
                      <input
                        class="form-control"
                        type="text"
                        name="firstName"
                        placeholder="First Name"
                      />
                    </div>
                    <div class="form-group col-lg-6 mb-4">
                      <input
                        class="form-control"
                        type="text"
                        name="lastName"
                        placeholder="Last Name"
                      />
                    </div>
                    <div class="form-group col-lg-6 mb-4">
                      <input
                        class="form-control"
                        type="tel"
                        name="phone"
                        placeholder="Phone Number"
                      />
                    </div>
                    <div class="form-group col-lg-6 mb-4">
                      <input
                        class="form-control"
                        type="text"
                        name="date"
                        placeholder="Appointment Date"
                      />
                    </div>
                    <div class="form-group col-lg-6 mb-4">
                      <select class="form-control py-0" name="gender">
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                      </select>
                    </div>
                    <div class="form-group col-lg-6 mb-4">
                      <select class="form-control py-0" name="department">
                        <option value="">Department</option>
                        <option value="medicine">Medicine</option>
                        <option value="dental">Dental Care</option>
                        <option value="traumatology">Traumatology</option>
                      </select>
                    </div>
                    <div class="form-group col-lg-12">
                      <textarea
                        class="form-control"
                        name="sepcialRequest"
                        rows="5"
                        placeholder="Special Request"
                      ></textarea>
                    </div>
                    <div class="form-group col-lg-12">
                      <button class="btn btn-primary btn-block" type="submit">
                        Submit your request
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="col-lg-5">
            <ul class="list-unstyled">
              <li class="d-flex align-items-center pb-4">
                <div class="p-1 bg-primary text-white rounded-circle">
                  <div class="p-4 border border-md border-white rounded-circle">
                    <i class="fas fa-microscope fa-2x"></i>
                  </div>
                </div>
                <div class="ml-3">
                  <h3 class="h5">Leading Technologies</h3>
                  <p class="text-muted text-small mb-0">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua.
                  </p>
                </div>
              </li>
              <li class="d-flex align-items-center py-4">
                <div class="p-1 bg-primary text-white rounded-circle">
                  <div class="p-4 border border-md border-white rounded-circle">
                    <i class="fas fa-heartbeat fa-2x"></i>
                  </div>
                </div>
                <div class="ml-3">
                  <h3 class="h5">Care and Relief</h3>
                  <p class="text-muted text-small mb-0">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua.
                  </p>
                </div>
              </li>
              <li class="d-flex align-items-center py-4">
                <div class="p-1 bg-primary text-white rounded-circle">
                  <div class="p-4 border border-md border-white rounded-circle">
                    <i class="fas fa-pills fa-2x"></i>
                  </div>
                </div>
                <div class="ml-3">
                  <h3 class="h5">Cost Effective</h3>
                  <p class="text-muted text-small mb-0">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua.
                  </p>
                </div>
              </li>
              <li class="d-flex align-items-center mb-4 pt-4">
                <div class="p-1 bg-primary text-white rounded-circle">
                  <div class="p-4 border border-md border-white rounded-circle">
                    <i class="fas fa-history fa-2x"></i>
                  </div>
                </div>
                <div class="ml-3">
                  <h3 class="h5">24/7 Availability</h3>
                  <p class="text-muted text-small mb-0">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua.
                  </p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <!-- Make Appointment Section-->
    <section class="appointment">
      <div class="container text-center">
        <h2 class="lined lined-center">
          Drop us a <span class="text-primary">line</span>
        </h2>
        <p class="text-muted mb-5">
          Nulla tristique ipsum in quam. Integer ac elit. Duis turpis faucibus
          non
        </p>
        <div class="row">
          <div class="col-lg-7 mx-auto">
            <div class="card border-0 shadow-sm">
              <div class="card-body border-top border-md border-primary p-5">
                <form class="make-appointment-form" action="#">
                  <div class="row">
                    <div class="form-group col-lg-12 mb-4">
                      <input
                        class="form-control"
                        type="text"
                        name="name"
                        placeholder="Full Name"
                      />
                    </div>
                    <div class="form-group col-lg-6 mb-4">
                      <input
                        class="form-control"
                        type="email"
                        name="email"
                        placeholder="Email Address"
                      />
                    </div>
                    <div class="form-group col-lg-6 mb-4">
                      <input
                        class="form-control"
                        type="tel"
                        name="phone"
                        placeholder="Phone Number"
                      />
                    </div>
                    <div class="form-group col-lg-12">
                      <textarea
                        class="form-control"
                        name="message"
                        rows="5"
                        placeholder="Tell us about your request"
                      ></textarea>
                    </div>
                    <div class="form-group col-lg-12">
                      <button class="btn btn-primary btn-block" type="submit">
                        Send message
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 mb-4 mb-lg-0">
            <h2 class="h5 lined text-white mb-4">About</h2>
            <p class="text-muted text-small">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore.
            </p>
            <p class="text-muted text-small">
              Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore.
            </p>
            <ul class="list-inline mb-0">
              <li class="list-inline-item">
                <a class="social-link" href="#"
                  ><i class="fab fa-facebook-f"></i
                ></a>
              </li>
              <li class="list-inline-item">
                <a class="social-link" href="#"
                  ><i class="fab fa-twitter"></i
                ></a>
              </li>
              <li class="list-inline-item">
                <a class="social-link" href="#"
                  ><i class="fab fa-google-plus"></i
                ></a>
              </li>
              <li class="list-inline-item">
                <a class="social-link" href="#"
                  ><i class="fab fa-instagram"></i
                ></a>
              </li>
            </ul>
          </div>
          <div class="col-lg-5 mb-4 mb-lg-0">
            <h2 class="h5 text-white lined mb-4">Quick Links</h2>
            <div class="d-flex">
              <ul class="list-unstyled d-inline-block mr-4 mb-0">
                <li class="mb-2">
                  <a class="footer-link" href="#">Make appointments </a>
                </li>
                <li class="mb-2">
                  <a class="footer-link" href="#">Doctors team</a>
                </li>
                <li class="mb-2">
                  <a class="footer-link" href="#">Departments services</a>
                </li>
                <li class="mb-2">
                  <a class="footer-link" href="#">About our clinic</a>
                </li>
                <li class="mb-2">
                  <a class="footer-link" href="#">Contact us</a>
                </li>
              </ul>
              <ul class="list-unstyled d-inline-block mb-0">
                <li class="mb-2">
                  <a class="footer-link" href="index.html">Home </a>
                </li>
                <li class="mb-2">
                  <a class="footer-link" href="about.html">About us</a>
                </li>
                <li class="mb-2">
                  <a class="footer-link" href="contact.html">Contact us</a>
                </li>
                <li class="mb-2">
                  <a class="footer-link" href="#">About our clinic</a>
                </li>
                <li class="mb-2">
                  <a class="footer-link" href="#">Contact us</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-4">
            <h2 class="h5 text-white lined mb-4">Newsletter</h2>
            <p class="text-muted text-small">
              Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore.
            </p>
            <div class="input-group mb-3">
              <input
                class="form-control text-muted bg-none border-primary"
                type="text"
                placeholder="Email address"
                aria-label="Recipient's username"
                aria-describedby="button-addon2"
              />
              <div class="input-group-append">
                <button
                  class="btn btn-primary"
                  id="button-addon2"
                  type="button"
                >
                  <i class="fas fa-paper-plane"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="copyrights">
        <div class="container text-center py-4">
          <p class="mb-0 text-muted">
            &copy; 2019, Your company. Template designed by
            <a href="https://bootstraptemple.com">Bootstrap Temple</a>.
          </p>
        </div>
      </div>
    </footer>
    <!-- JavaScript files-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="js/front.js"></script>
    <!-- FontAwesome CSS - loading as last, so it doesn't block rendering-->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous"
    />
  </body>
</html>
