/*
-------------------------------------------------------------------------------
2.  Typography [hm-02]
-------------------------------------------------------------------------------
*/

h1 {
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-weight: 400;
}

h2 {
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-weight: 400;
}

h3 {
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-weight: 400;
}

h4 {
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-weight: 400;
}

h5 {
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-weight: 400;
}

h6 {
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-weight: 400;
}

h1 {
    font-size: 4rem;
    line-height: 1.3;
}

h2 {
    font-size: 3.6rem;
    line-height: 1.35;
}

h3 {
    font-size: 3rem;
    line-height: 1.4;
}

h4 {
    font-size: 2.4rem;
    line-height: 1.45;
}

h5 {
    font-size: 1.8rem;
}

h6 {
    font-size: 1.5rem;
}

.sticky-alerts{position:fixed;top:0;right:2.4rem;z-index:100}.dark-mode .navbar,.navbar{-moz-box-shadow:none;-webkit-box-shadow:none;box-shadow:none}.navbar{position:relative;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;-ms-flex-align:center;align-items:center;-ms-flex-flow:row nowrap;flex-flow:row nowrap;-ms-flex-pack:start;justify-content:flex-start;width:100%;padding-left:1rem;padding-right:1rem;background-color:#fff;border-bottom:1px solid rgba(0,0,0,.2)}.dark-mode .navbar{background-color:#111417;border-color:rgba(0,0,0,.2)}.navbar,.navbar.navbar-fixed-bottom{height:5rem}.dark-mode .navbar.navbar-fixed-bottom,.dark-mode .navbar.navbar-static-bottom{border-color:rgba(0,0,0,.2);-moz-box-shadow:none;-webkit-box-shadow:none;box-shadow:none}.navbar.navbar-fixed-bottom,.navbar.navbar-static-bottom{border-bottom:none;border-top:1px solid rgba(0,0,0,.2);-moz-box-shadow:none;-webkit-box-shadow:none;box-shadow:none}.page-wrapper>.navbar{position:fixed;left:0;z-index:40;display:none}.page-wrapper>.navbar:not(.navbar-fixed-bottom){top:0}.page-wrapper.with-navbar>.navbar:not(.navbar-fixed-bottom){display:-ms-flexbox;display:flex}.page-wrapper>.navbar.navbar-fixed-bottom{bottom:0}.page-wrapper.with-navbar-fixed-bottom>.navbar.navbar-fixed-bottom{display:-ms-flexbox;display:flex}.dark-mode .sidebar,.sidebar{-moz-box-shadow:none;-webkit-box-shadow:none;box-shadow:none}.sidebar{position:fixed;top:0;bottom:0;left:0;width:26rem;max-width:100%;height:100%;overflow-x:hidden;overflow-y:auto;z-index:20;background-color:#fff;border-right:1px solid rgba(0,0,0,.2)}.dark-mode .sidebar{background-color:#191c20;border-color:rgba(0,0,0,.2)}.page-wrapper>.sidebar{display:none}.modal-content-media img,.modal-content-media video,.page-wrapper.with-sidebar>.sidebar{display:block}.content-wrapper{position:absolute;top:0;bottom:0;left:0;right:0;width:100%;overflow:auto}.page-wrapper.with-navbar>.sticky-alerts{top:5rem}


alert {
    position: relative;
    padding: 1rem 2rem;
    color: rgba(0, 0, 0, .85);
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .4rem
}

.dark-mode .alert {
    color: rgba(255, 255, 255, .8);
    background-color: #191c20;
    border-color: rgba(255, 255, 255, .1)
}

.alert-heading,
.dark-mode .alert-heading {
    color: inherit;
    font-size: 1.6rem;
    font-weight: 500;
    margin: 0 0 .5rem
}

.alert-link,
.dark-mode .alert-link {
    cursor: pointer;
    color: inherit;
    text-decoration: underline
}

.alert-link:hover,
.dark-mode .alert-link:hover {
    color: inherit;
    opacity: .75
}

.alert .close {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    color: inherit;
    padding: .4rem .6rem;
    line-height: 1;
    font-size: 1.6rem;
    background-color: transparent;
    border-color: transparent
}

.alert .close:focus {
    outline: 2px solid rgba(0, 0, 0, .5);
    outline-offset: 2px
}

.dark-mode .alert .close:focus {
    outline-color: rgba(255, 255, 255, .5)
}

.alert.dispose,
.sticky-alerts .alert.alert-block.dispose {
    display: none
}

.sticky-alerts .alert {
    display: none;
    width: fit-content;
    margin-top: 1rem;
    right: -50rem;
    -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, .045);
    -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, .045);
    box-shadow: 0 2px 0 rgba(0, 0, 0, .045)
}

.sticky-alerts .alert.show {
    right: 0;
    -webkit-transition: all .4s cubic-bezier(.25, .8, .25, 1);
    transition: all .4s cubic-bezier(.25, .8, .25, 1)
}

.sticky-alerts .alert.fade {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: visibility 0s .4s, opacity .4s linear;
    transition: visibility 0s .4s, opacity .4s linear
}

.sticky-alerts .alert.alert-block {
    display: block
}

.alert.alert-primary.filled,
.alert.alert-primary.filled-lm {
    color: #fff;
    background-color: #1890ff;
    border-color: #1890ff
}

.alert.alert-success.filled,
.alert.alert-success.filled-lm {
    color: rgba(0, 0, 0, .85);
    background-color: #0be881;
    border-color: #0be881
}

.alert.alert-secondary.filled,
.alert.alert-secondary.filled-lm {
    color: rgba(0, 0, 0, .85);
    background-color: #ffc312;
    border-color: #ffc312
}

.alert.alert-danger.filled,
.alert.alert-danger.filled-lm {
    color: #fff;
    background-color: #ff4d4f;
    border-color: #ff4d4f
}

.dark-mode .alert.alert-primary.filled,
.dark-mode .alert.alert-primary.filled-dm {
    color: #fff;
    background-color: #1890ff;
    border-color: #1890ff;
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto
}

.dark-mode .alert.alert-success.filled,
.dark-mode .alert.alert-success.filled-dm {
    color: rgba(0, 0, 0, .85);
    background-color: #0be881;
    border-color: #0be881;
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto
}

.dark-mode .alert.alert-secondary.filled,
.dark-mode .alert.alert-secondary.filled-dm {
    color: rgba(0, 0, 0, .85);
    background-color: #ffc312;
    border-color: #ffc312;
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto
}

.dark-mode .alert.alert-danger.filled,
.dark-mode .alert.alert-danger.filled-dm {
    color: #fff;
    background-color: #ff4d4f;
    border-color: #ff4d4f;
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto
}

.alert.alert-primary,
.alert.alert-success {
    color: rgba(0, 0, 0, .85);
    background-color: #cfe7fd;
    border-color: #1890ff
}

.alert.alert-success {
    background-color: #d5f9e5;
    border-color: #0be881
}

.alert.alert-danger,
.alert.alert-secondary {
    color: rgba(0, 0, 0, .85);
    background-color: #fef1ce;
    border-color: #ffc312
}

.alert.alert-danger {
    background-color: #f8d0d9;
    border-color: #ff4d4f
}

.dark-mode .alert.alert-primary {
    color: #1890ff;
    background-color: #172636;
    border-color: #0d518f
}

.dark-mode .alert.alert-success {
    color: #0be881;
    background-color: #17312a;
    border-color: #0d8951
}

.dark-mode .alert.alert-secondary {
    color: #ffc312;
    background-color: #302c1d;
    border-color: #8c7010
}

.dark-mode .alert.alert-danger {
    color: #ff4d4f;
    background-color: #301923;
    border-color: #8c0e2e
}


.dark-mode .modal-content .close:hover {
    color: #fff;
    background-color: rgba(255, 255, 255, .2)
}

.modal-content .close:focus {
    -webkit-transition: none;
    transition: none;
    outline: 2px solid rgba(24, 144, 255, .3);
    outline-offset: 2px
}

.dark-mode .modal-content .close:focus {
    outline-color: rgba(24, 144, 255, .3)
}

.modal.show,
.modal.show .modal-dialog,
.modal:target,
.modal:target .modal-dialog {
    top: 0
}

.modal.show~.page-wrapper .content-wrapper,
.modal.show~.page-wrapper .sidebar,
.modal:target~.page-wrapper .content-wrapper,
.modal:target~.page-wrapper .sidebar {
    overflow: hidden
}

.modal.show .modal-content .close,
.modal:target .modal-content .close {
    top: 1rem
}

.alert {
    position: relative;
    padding: 1rem 2rem;
    color: rgba(0, 0, 0, .85);
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .4rem
}

.dark-mode .alert {
    color: rgba(255, 255, 255, .8);
    background-color: #191c20;
    border-color: rgba(255, 255, 255, .1)
}

.alert-heading,
.dark-mode .alert-heading {
    color: inherit;
    font-size: 1.6rem;
    font-weight: 500;
    margin: 0 0 .5rem
}

.alert-link,
.dark-mode .alert-link {
    cursor: pointer;
    color: inherit;
    text-decoration: underline
}

.alert-link:hover,
.dark-mode .alert-link:hover {
    color: inherit;
    opacity: .75
}

.alert .close {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    color: inherit;
    padding: .4rem .6rem;
    line-height: 1;
    font-size: 1.6rem;
    background-color: transparent;
    border-color: transparent
}

.alert .close:focus {
    outline: 2px solid rgba(0, 0, 0, .5);
    outline-offset: 2px
}

.dark-mode .alert .close:focus {
    outline-color: rgba(255, 255, 255, .5)
}

.alert.dispose,
.sticky-alerts .alert.alert-block.dispose {
    display: none
}



.sticky-alerts .alert.show {
    right: 0;
    -webkit-transition: all .4s cubic-bezier(.25, .8, .25, 1);
    transition: all .4s cubic-bezier(.25, .8, .25, 1)
}

.sticky-alerts .alert.fade {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: visibility 0s .4s, opacity .4s linear;
    transition: visibility 0s .4s, opacity .4s linear
}

.sticky-alerts .alert.alert-block {
    display: block
}

.alert.alert-primary.filled,
.alert.alert-primary.filled-lm {
    color: #fff;
    background-color: #1890ff;
    border-color: #1890ff
}

.alert.alert-success.filled,
.alert.alert-success.filled-lm {
    color: rgba(0, 0, 0, .85);
    background-color: #0be881;
    border-color: #0be881
}

.alert.alert-secondary.filled,
.alert.alert-secondary.filled-lm {
    color: rgba(0, 0, 0, .85);
    background-color: #ffc312;
    border-color: #ffc312
}

.alert.alert-danger.filled,
.alert.alert-danger.filled-lm {
    color: #fff;
    background-color: #ff4d4f;
    border-color: #ff4d4f
}

.dark-mode .alert.alert-primary.filled,
.dark-mode .alert.alert-primary.filled-dm {
    color: #fff;
    background-color: #1890ff;
    border-color: #1890ff;
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto
}

.dark-mode .alert.alert-success.filled,
.dark-mode .alert.alert-success.filled-dm {
    color: rgba(0, 0, 0, .85);
    background-color: #0be881;
    border-color: #0be881;
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto
}

.dark-mode .alert.alert-secondary.filled,
.dark-mode .alert.alert-secondary.filled-dm {
    color: rgba(0, 0, 0, .85);
    background-color: #ffc312;
    border-color: #ffc312;
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto
}

.dark-mode .alert.alert-danger.filled,
.dark-mode .alert.alert-danger.filled-dm {
    color: #fff;
    background-color: #ff4d4f;
    border-color: #ff4d4f;
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto
}

.alert.alert-primary,
.alert.alert-success {
    color: rgba(0, 0, 0, .85);
    background-color: #cfe7fd;
    border-color: #1890ff
}

.alert.alert-success {
    background-color: #d5f9e5;
    border-color: #0be881
}

.alert.alert-danger,
.alert.alert-secondary {
    color: rgba(0, 0, 0, .85);
    background-color: #fef1ce;
    border-color: #ffc312
}

.alert.alert-danger {
    background-color: #f8d0d9;
    border-color: #ff4d4f
}

.dark-mode .alert.alert-primary {
    color: #1890ff;
    background-color: #172636;
    border-color: #0d518f
}

.dark-mode .alert.alert-success {
    color: #0be881;
    background-color: #17312a;
    border-color: #0d8951
}

.dark-mode .alert.alert-secondary {
    color: #ffc312;
    background-color: #302c1d;
    border-color: #8c7010
}

.dark-mode .alert.alert-danger {
    color: #ff4d4f;
    background-color: #301923;
    border-color: #8c0e2e
}