<div class="iq-top-navbar">
  <div class="iq-navbar-custom">
    <div class="iq-sidebar-logo">
      <div class="top-logo">
        <a href="index-2.html" class="logo">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="141.36"
            height="21.96"
            viewBox="0 0 141.36 21.96"
          >
            <g id="logo" transform="translate(-184.71 -47.52)">
              <path
                id="Path_10"
                data-name="Path 10"
                d="M26.91,0l-.06-21H21.03L14.37-9.81,7.53-21H1.71V0H8.16V-9.24l4.56,7.35h3.12L20.4-9.57,20.46,0ZM37.29-5.34V-8.1h8.88v-5.1H37.29v-2.46H47.4V-21H30.33V0H47.79V-5.34ZM50.52,0H60.87c7.02,0,11.85-3.99,11.85-10.5S67.89-21,60.87-21H50.52ZM57.6-5.52v-9.96h2.97a4.625,4.625,0,0,1,5.01,4.98,4.625,4.625,0,0,1-5.01,4.98ZM75.3,0h7.08V-21H75.3ZM96.66.48c4.11,0,7.35-1.5,9.42-4.2l-4.47-3.99a5.673,5.673,0,0,1-4.59,2.46c-2.94,0-4.92-2.04-4.92-5.25s1.98-5.25,4.92-5.25a5.673,5.673,0,0,1,4.59,2.46l4.47-3.99c-2.07-2.7-5.31-4.2-9.42-4.2-6.75,0-11.7,4.53-11.7,10.98S89.91.48,96.66.48Z"
                transform="translate(183 69)"
                fill="#1a1a1a"
              />
              <path
                id="Path_11"
                data-name="Path 11"
                d="M1.71,0H8.79V-21H1.71ZM23.22.48c6.84,0,11.85-4.62,11.85-10.98S30.06-21.48,23.22-21.48,11.37-16.86,11.37-10.5,16.38.48,23.22.48Zm0-5.73c-2.61,0-4.71-1.98-4.71-5.25s2.1-5.25,4.71-5.25,4.71,1.98,4.71,5.25S25.83-5.25,23.22-5.25Z"
                transform="translate(291 69)"
                fill="#fff"
              />
            </g>
          </svg>
        </a>
      </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light p-0">
      <div class="iq-search-bar">
        <form action="#" class="searchbox">
          <input
            type="text"
            class="text search-input"
            placeholder="Type here to search..."
          />
          <a class="search-link" href="#"><i class="ri-search-line"></i></a>
        </form>
      </div>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="ri-menu-3-line"></i>
      </button>
      <div class="iq-menu-bt align-self-center">
        <div class="wrapper-menu">
          <div class="main-circle"><i class="ri-more-fill"></i></div>
          <div class="hover-circle"><i class="ri-more-2-fill"></i></div>
        </div>
      </div>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto navbar-list">
          <!-- <li class="nav-item">
                    <a
                      class="search-toggle iq-waves-effect language-title"
                      href="#"
                      ><img
                        src="images/small/flag-01.png"
                        alt="img-flaf"
                        class="img-fluid mr-1"
                        style="height: 16px; width: 16px" />
                      English <i class="ri-arrow-down-s-line"></i
                    ></a>
                    <div class="iq-sub-dropdown">
                      <a class="iq-sub-card" href="#"
                        ><img
                          src="images/small/flag-02.png"
                          alt="img-flaf"
                          class="img-fluid mr-2"
                        />French</a
                      >
                      <a class="iq-sub-card" href="#"
                        ><img
                          src="images/small/flag-03.png"
                          alt="img-flaf"
                          class="img-fluid mr-2"
                        />Spanish</a
                      >
                      <a class="iq-sub-card" href="#"
                        ><img
                          src="images/small/flag-04.png"
                          alt="img-flaf"
                          class="img-fluid mr-2"
                        />Italian</a
                      >
                      <a class="iq-sub-card" href="#"
                        ><img
                          src="images/small/flag-05.png"
                          alt="img-flaf"
                          class="img-fluid mr-2"
                        />German</a
                      >
                      <a class="iq-sub-card" href="#"
                        ><img
                          src="images/small/flag-06.png"
                          alt="img-flaf"
                          class="img-fluid mr-2"
                        />Japanese</a
                      >
                    </div>
                  </li> -->
          <li class="nav-item iq-full-screen">
            <a href="#" class="iq-waves-effect" id="btnFullscreen"
              ><i class="ri-fullscreen-line"></i
            ></a>
          </li>
          <li class="nav-item">
            <a href="#" class="search-toggle iq-waves-effect">
              <i class="ri-notification-3-fill"></i>
              {% if unreads.count() > 0 %}
              <span class="bg-danger dots"></span>{% endif %}
            </a>
            <div class="iq-sub-dropdown">
              <div class="iq-card shadow-none m-0">
                <div class="iq-card-body p-0">
                  <div class="bg-primary p-3">
                    <h5 class="mb-0 text-white">
                      All Notifications<small
                        class="badge badge-light float-right pt-1"
                        >{{unreads.count()}}</small
                      >
                    </h5>
                  </div>
                  {% for unread in unreads %}
                  <a href="/patients/inbox/" class="iq-sub-card">
                    <div class="media align-items-center">
                      <!-- <div class="">
                        <img
                          class="avatar-40 rounded"
                          src="images/user/02.jpg"
                          alt=""
                        />
                      </div> -->
                      <div
                        style="
                          white-space: nowrap;
                          overflow: hidden;
                          text-overflow: ellipsis;
                        "
                        class="media-body ml-3"
                      >
                        <h6 class="mb-0">{{unread['title']}}</h6>
                        <small class="float-right font-size-12"
                          >{{unread['dateSent'].strftime("%b %d, %Y - %I:%M
                          %p")}}</small
                        >
                        <p class="mb-0">{{unread['senderName']}}</p>
                      </div>
                    </div>
                  </a>

                  {% endfor %}
                </div>
              </div>
            </div>
          </li>
          <!-- <li class="nav-item dropdown">
            <a href="#" class="search-toggle iq-waves-effect">
              <i class="ri-mail-open-fill"></i>
              <span class="bg-primary count-mail"></span>
            </a>
            <div class="iq-sub-dropdown">
              <div class="iq-card shadow-none m-0">
                <div class="iq-card-body p-0">
                  <div class="bg-primary p-3">
                    <h5 class="mb-0 text-white">
                      All Messages<small
                        class="badge badge-light float-right pt-1"
                        >5</small
                      >
                    </h5>
                  </div>
                  <a href="#" class="iq-sub-card">
                    <div class="media align-items-center">
                      <div class="">
                        <img
                          class="avatar-40 rounded"
                          src="images/user/01.jpg"
                          alt=""
                        />
                      </div>
                      <div class="media-body ml-3">
                        <h6 class="mb-0">Bini Emma Watson</h6>
                        <small class="float-left font-size-12">13 Jun</small>
                      </div>
                    </div>
                  </a>
                  <a href="#" class="iq-sub-card">
                    <div class="media align-items-center">
                      <div class="">
                        <img
                          class="avatar-40 rounded"
                          src="images/user/02.jpg"
                          alt=""
                        />
                      </div>
                      <div class="media-body ml-3">
                        <h6 class="mb-0">Lorem Ipsum Watson</h6>
                        <small class="float-left font-size-12">20 Apr</small>
                      </div>
                    </div>
                  </a>
                  <a href="#" class="iq-sub-card">
                    <div class="media align-items-center">
                      <div class="">
                        <img
                          class="avatar-40 rounded"
                          src="images/user/03.jpg"
                          alt=""
                        />
                      </div>
                      <div class="media-body ml-3">
                        <h6 class="mb-0">Why do we use it?</h6>
                        <small class="float-left font-size-12">30 Jun</small>
                      </div>
                    </div>
                  </a>
                  <a href="#" class="iq-sub-card">
                    <div class="media align-items-center">
                      <div class="">
                        <img
                          class="avatar-40 rounded"
                          src="images/user/04.jpg"
                          alt=""
                        />
                      </div>
                      <div class="media-body ml-3">
                        <h6 class="mb-0">Variations Passages</h6>
                        <small class="float-left font-size-12">12 Sep</small>
                      </div>
                    </div>
                  </a>
                  <a href="#" class="iq-sub-card">
                    <div class="media align-items-center">
                      <div class="">
                        <img
                          class="avatar-40 rounded"
                          src="images/user/05.jpg"
                          alt=""
                        />
                      </div>
                      <div class="media-body ml-3">
                        <h6 class="mb-0">Lorem Ipsum generators</h6>
                        <small class="float-left font-size-12">5 Dec</small>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </li> -->
        </ul>
      </div>
      <ul class="navbar-list">
        <li>
          <a
            href="#"
            class="search-toggle iq-waves-effect d-flex align-items-center"
          >
            {% if user['gender'] == 'male' %}
            <img
              src="../../../static/patients2/images/user/09.jpg"
              alt="profile-pic"
              class="img-fluid rounded mr-3"
            />
            {% else %}
            <img
              class="img-fluid rounded mr-3"
              src="../../../static/patients2/images/user/11.png"
              alt="profile-pic"
            />
            {% endif %}
            <div class="caption">
              <h6 class="mb-0 line-height">{{user['name']}}</h6>
              <span class="font-size-12">Online</span>
            </div>
          </a>
          <div class="iq-sub-dropdown iq-user-dropdown">
            <div class="iq-card shadow-none m-0">
              <div class="iq-card-body p-0">
                <div class="bg-primary p-3">
                  <h5 class="mb-0 text-white line-height">Get In Control</h5>
                  <!-- <span class="text-white font-size-12">Available</span> -->
                </div>
                <a href="../profile/" class="iq-sub-card iq-bg-primary-hover">
                  <div class="media align-items-center">
                    <div class="rounded iq-card-icon iq-bg-primary">
                      <i class="ri-file-user-line"></i>
                    </div>
                    <div class="media-body ml-3">
                      <h6 class="mb-0">My Profile</h6>
                      <p class="mb-0 font-size-12">
                        View personal profile details.
                      </p>
                    </div>
                  </div>
                </a>
                <a
                  href="../edit_profile/"
                  class="iq-sub-card iq-bg-primary-hover"
                >
                  <div class="media align-items-center">
                    <div class="rounded iq-card-icon iq-bg-primary">
                      <i class="ri-profile-line"></i>
                    </div>
                    <div class="media-body ml-3">
                      <h6 class="mb-0">Edit Profile</h6>
                      <p class="mb-0 font-size-12">
                        Modify your personal details.
                      </p>
                    </div>
                  </div>
                </a>
                <!-- <a
                          href="account-setting.html"
                          class="iq-sub-card iq-bg-primary-hover"
                        >
                          <div class="media align-items-center">
                            <div class="rounded iq-card-icon iq-bg-primary">
                              <i class="ri-account-box-line"></i>
                            </div>
                            <div class="media-body ml-3">
                              <h6 class="mb-0">Account settings</h6>
                              <p class="mb-0 font-size-12">
                                Manage your account parameters.
                              </p>
                            </div>
                          </div>
                        </a> -->
                <a class="iq-sub-card iq-bg-primary-hover">
                  <div class="media align-items-center">
                    <div class="rounded iq-card-icon iq-bg-primary">
                      <i class="ri-lock-line"></i>
                    </div>
                    <div class="media-body ml-3">
                      <h6 class="mb-0">
                        Privacy Settings
                        <span class="badge badge-danger">Coming Soon</span>
                      </h6>
                      <p class="mb-0 font-size-12">
                        Control your privacy parameters.
                      </p>
                    </div>
                  </div>
                </a>
                <div class="d-inline-block w-100 text-center p-3">
                  <a
                    class="bg-primary iq-sign-btn"
                    href="../signout/"
                    role="button"
                    >Sign Out<i class="ri-login-box-line ml-2"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </nav>
  </div>
</div>
